:root {
	font-size: 28px;
}
body {
	background: url("./grid-light.png"), fixed linear-gradient(#ffffff 20%, #bbc0cc 70%, #ffffff 90%);
}
h1 {
	line-height: 1.2;
	font-size: 2.85em;
	margin: 0;
	margin-top: 0.1em;
}
a {
	display: block;
}
ul {
	padding-top: 1em;
	padding-bottom: 1em;
	list-style: none;
}
li:hover, li:focus-within {
	list-style: '→ ';
}
header {
	padding: 3em 2em 0;
	box-sizing: border-box;
}
section {
	padding: 1em 2em 1em 0;
	box-sizing: border-box;
	display: none;
	overflow-y: auto;
}
@keyframes bg {
	from { background-position: 0 0, 0 0; }
	to { background-position: 512px -128px, 0 0; }
}
@media (prefers-color-scheme: dark) {
	body {
		background: url("./grid-dark.png"), fixed linear-gradient(#0f0f0f 20%, #303030 70%, #0f0f0f 90%);
	}
}
@media (min-width: 800px) {
	header {
		position: fixed;
		width: calc(100vw / 2);
		top: 0;
		left: 0;
		bottom: 0;
	}
	ul {
		padding-left: 0;
	}
	footer {
		display: block;
	}
	main {
		margin-left: calc(100vw / 2);
	}
}
@media (min-width: 800px) and (max-height: 350px) {
	h1 {
		display: none;
	}
}
@media (min-width: 1200px) {
	.js > header, .js > section {
		width: calc(100vw / 3 - 1em);
	}
	.js > section {
		display: block !important;
		position: fixed;
		right: 1em;
		top: 0;
		bottom: 0;
	}
	.js > main {
		margin-left: calc(100vw / 3);
	}
}
